﻿
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section" ng-cloak ng-controller="authenticationController as vm">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3">
					<div class="site-logo">
						<img height="190" src="~/Content/img/blockchain.jpg" alt="">
					</div>
					<div class="nav-switch">
						<i class="fa fa-bars"></i>
					</div>
				</div>
				<div class="col-lg-9 col-md-9">
					<a href="#" ng-click="vm.modalLogin()" class="site-btn header-btn">Login</a>
					<nav class="main-menu">
                        <ul>                            
                            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li><a href="#">Sobre</a></li>
                            <li><a href="#">Cursos</a></li>
                            <li><a href="#">Novidades</a></li>
                            <li><a href="#">Contato</a></li>
                        </ul>
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!-- Header section end -->


	<!-- Hero section -->
	<section class="hero-section set-bg" data-setbg="~/../Content/img/bg.jpg">
		<div class="container">
			<div class="hero-text text-white">
				<h2>Projeto Aplicado IGTI</h2>
                <p>Conteúdo das aulas armazenado na Blochcain da SIA COIN.</p>
			</div>
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->


	



