﻿<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>
<!-- Header section -->

<header class="header-section" ng-cloak ng-controller="authenticationController as vm">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="site-logo">
                    <img height="140" src="~/Content/img/blockchain.jpg" alt="">
                </div>
                <div class="nav-switch">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <a href="" class="site-btn header-btn" ng-click="vm.sair()">Sair</a>
                <nav class="main-menu">
                    <ul>

                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li><a href="#">Sobre</a></li>
                        <li><a href="#">Cursos</a></li>
                        <li><a href="#">Novidade</a></li>
                        <li><a href="#">Contato</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header section end -->
<!-- Page info -->
<div ng-cloak ng-controller="cadastroDisciplinaController as vm">
    <div class="set-bg" data-setbg="~/../Content/img/page-bg/1.jpg">
        <div class="container">
            <div class="site-breadcrumb" style="color:white; padding-left: 25px">
                <span style="color:white"> </span>
                <a href="@Url.Action("Index", "Professor")" ng-show="vm.usuarioLogado"><u>Upload</u></a>
                <a href="@Url.Action("Index", "CadastrarAluno")" ng-show="vm.usuarioLogado"><u>Alunos</u></a>
                <a href="@Url.Action("Index", "CadastrarDisciplina")" ng-show="vm.usuarioLogado"><u>Disciplina e nota</u></a>
                <span style="color:white;" class="pull-right">Professor: <span>{{vm.usuarioLogado}}</span></span>

            </div>
        </div>
    </div>

    <!-- Page info end -->
    <!-- categories section -->
    <section class="categories-section spad">
        <div class="container">
            <div class="section-title">

                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Disciplina</th>
                            <th scope="col">Nota</th>
                            <th scope="col">Hash</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="disciplina in vm.listaDisciplinas">
                            <th scope="row">{{disciplina.id}}</th>
                            <td>{{disciplina.nome}}</td>
                            <td>{{disciplina.disciplina}}</td>
                            <td>{{disciplina.nota}}</td>
                            <td> <a target="_blank" href="https://ropsten.etherscan.io/tx/{{disciplina.hash}}">{{disciplina.hash | limitTo:10}}... </a></td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </section>
    <!-- categories section end -->
    <!-- signup section -->

    <section class="signup-section spad">
        <div class="signup-bg set-bg" data-setbg="~/../Content/img/signup-bg.jpg"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="signup-warp">
                        <div class="section-title text-white text-left">
                            <h2>Cadastro disciplina e nota</h2>

                        </div>
                        <!-- signup form -->
                        <form method="post" enctype="multipart/form-data" class="box has-advanced-upload signup-form">
                            <div class="progress" style="display: none;">
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                    <span class="progressoAtual">0% complete</span>
                                </div>
                            </div>
                            <div>
                                <select class="form-control" ng-model="vm.modelDiscplina.idBlockchain"
                                        ng-options="aluno.idBlockchain as aluno.nome for aluno in vm.listaAlunos  | orderBy:'nome' "></select>
                            </div>

                            <input style="margin-top:15px" type="text" ng-model="vm.modelDiscplina.disciplina" placeholder="Disciplina">
                            <input type="text" ng-model="vm.modelDiscplina.nota" placeholder="Nota da disciplina">

                            <label for="fileupload" class="file-up-btn" ng-click="vm.cadastrarNotaAluno()">Salvar</label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- signup section end -->
<script src="~/Scripts/app/conexaoMetaMask.js"></script>
<script src="~/Scripts/app/cadastrarDisciplina/cadastrarDisciplinaController.js"></script>