﻿<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>
<!-- Header section -->
<header class="header-section" ng-cloak ng-controller="authenticationController as vm">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="site-logo">
                    <img height="140" src="~/Content/img/blockchain.jpg" alt="">
                </div>
                <div class="nav-switch">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <a href="" class="site-btn header-btn" ng-click="vm.sair()">Sair</a>
                <nav class="main-menu">
                    <ul>
                        <li><a href="@Url.Action("Index", "Home" )">Home</a></li>
                        <li><a href="#">Sobre</a></li>
                        <li><a href="#">Cursos</a></li>
                        <li><a href="#">Novidade</a></li>
                        <li><a href="#">Contato</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header section end -->
<!-- Page info -->
<div ng-cloak ng-controller="cadastroAlunoController as vm">
    <div class="set-bg" data-setbg="~/../Content/img/page-bg/1.jpg">
        <div class="container">
            <div class="site-breadcrumb" style="color:white; padding-left: 25px" ng-show="vm.usuarioLogado">
                <span style="color:white"> </span>
                <a href="@Url.Action("Index", "Professor")"><u>Upload</u></a>
                <a href="@Url.Action("Index", "CadastrarAluno" )"><u>Alunos</u></a>
                <a href="@Url.Action("Index", "CadastrarDisciplina" )"><u>Disciplina e nota</u></a>
                <span style="color:white;" class="pull-right">Professor: <span>{{vm.usuarioLogado}}</span></span>

            </div>
        </div>
    </div>

    <!-- Page info end -->
    <!-- categories section -->
    <section class="categories-section spad">
        <div class="container">
            <div class="section-title">

                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#Block</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Email</th>
                            <th scope="col">Documento</th>
                            <th scope="col">Hash</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="aluno in vm.listaAlunos">
                            <th scope="row">{{aluno.idBlockchain}}</th>
                            <td>{{aluno.nome}}</td>
                            <td>{{aluno.email}}</td>
                            <td>{{aluno.documento}}</td>
                            <td> <a target="_blank" href="https://ropsten.etherscan.io/tx/{{aluno.hash}}">{{aluno.hash | limitTo:10}}... </a></td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </section>
    <!-- categories section end -->
    <!-- signup section -->

    <section class="signup-section spad">
        <div class="signup-bg set-bg" data-setbg="~/../Content/img/signup-bg.jpg"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="signup-warp">
                        <div class="section-title text-white text-left">
                            <h2>Cadastro aluno</h2>
                        </div>
                        <!-- signup form -->
                        <form method="post" enctype="multipart/form-data" class="box has-advanced-upload signup-form">
                            <div class="progress" style="display: none;">
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                    <span class="progressoAtual">0% complete</span>
                                </div>
                            </div>
                            <input type="text" ng-model="vm.modelAluno.nome" placeholder="Nome Aluno">
                            <input type="text" placeholder="Nacionalidade" ng-model="vm.modelAluno.nacionalidade">
                            <input type="text" placeholder="Naturalidade" ng-model="vm.modelAluno.naturalidade">
                            <input type="text" placeholder="Documento" ng-model="vm.modelAluno.documento">
                            <input type="email" placeholder="Email" ng-model="vm.modelAluno.email">

                            <div class="form-group row">
                                <label class="col-4">Sexo</label>
                                <div class="col-8">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input ng-model="vm.modelAluno.sexo" name="radio" id="radio_0" type="radio" checked="checked"
                                               class="custom-control-input" value="M">
                                        <label for="radio_0" class="custom-control-label">M</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input ng-model="vm.modelAluno.sexo" name="radio" id="radio_1" type="radio" class="custom-control-input" value="F">
                                        <label for="radio_1" class="custom-control-label">F</label>
                                    </div>
                                </div>
                            </div>

                            <label for="fileupload" class="file-up-btn" ng-click="vm.cadastrarAlunoBlockchain()">Salvar</label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- signup section end -->
<script src="~/Scripts/app/conexaoMetaMask.js"></script>
<script src="~/Scripts/app/cadastrarAluno/cadastrarAlunoController.js"></script>
