﻿<!DOCTYPE html>
<html lang="pt-br" data-ng-app="app">
<head>
    <title>IGTI PA - Descentralização</title>
    <meta charset="UTF-8">
    <meta name="description" content="IGTI PA - Descentralização">
    <meta name="keywords" content="webuni, education, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="~/Content/img/icon.png" rel="shortcut icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css" />
    <link rel="stylesheet" href="~/Content/css/style.css" />
    <link href="~/Content/plugins/sweetalert/SweetAlert2.css" rel="stylesheet" />
    @Styles.Render("~/Content/angular")

    <script src="~/Scripts/js/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/plugins/jquery-ui/jquery-ui-1.11.4.js"></script>
    <script src="~/Scripts/plugins/jquery-ui/jquery.ui.widget.js"></script>
    @Scripts.Render("~/App/angular")

    @Scripts.Render("~/Scripts/appangular")
    @Scripts.Render("~/Scripts/authenticationService")

    <script src="~/Scripts/plugins/sweetalert/SweetAlert2.js"></script>
    @*<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.min.js"></script>*@
    @*<script src="https://cdn.jsdelivr.net/npm/web3@1.2.4/dist/web3.min.js"></script>*@
    @*<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.js"></script>*@
    @*<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.36/dist/web3.min.js"></script>*@
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.2.5-rc.0/dist/web3.min.js"></script>

</head>
<body>

    @RenderBody()

    @Html.Partial("~/Views/Shared/_Login.cshtml")
    <!--====== Javascripts & Jquery ======-->
    
    <script src="~/Scripts/jquery.fileupload.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/mixitup.min.js"></script>
    <script src="~/Scripts/js/circle-progress.min.js"></script>
    <script src="~/Scripts/js/owl.carousel.min.js"></script>
    <script src="~/Scripts/js/main.js"></script>
</body>

</html>
