﻿<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-cloak ng-controller="authenticationController as vm"
     aria-hidden="true">
    <div class="modal-dialog" role="document" >
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Login</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <i class="fa fa-envelope-o"></i>
                    <input type="email" id="defaultForm-email" ng-model="vm.email" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="defaultForm-email">Email</label>
                </div>

                <div class="md-form mb-4">
                    <i class="fa fa-lock"></i>
                    <input type="password" id="defaultForm-pass"   ng-model="vm.password" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="defaultForm-pass">Senha</label>
                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-default" ng-click="vm.authenticate()">Login</button>
            </div>
        </div>
    </div>
</div>
