﻿<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>
<!-- Header section -->
<header class="header-section" ng-cloak ng-controller="authenticationController as vm">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="site-logo">
                    <img height="140" src="~/Content/img/blockchain.jpg" alt="">
                </div>
                <div class="nav-switch">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <a href="" class="site-btn header-btn" ng-click="vm.sair()">Sair</a>
                <nav class="main-menu">
                    <ul>

                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li><a href="#">Sobre</a></li>
                        <li><a href="#">Cursos</a></li>
                        <li><a href="#">Novidade</a></li>
                        <li><a href="#">Contato</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header section end -->
<!-- Page info -->
<div class="set-bg" data-setbg="~/../Content/img/page-bg/1.jpg" ng-cloak ng-controller="professorController as vm">
    <div class="container">
        <div class="site-breadcrumb" style="color:white; padding-left: 25px">
            <span style="color:white"> </span>
            <a href="@Url.Action("Index", "Professor")" ng-show="vm.usuarioLogado"><u>Upload</u></a>
            <a href="@Url.Action("Index", "CadastrarAluno")" ng-show="vm.usuarioLogado"><u>Alunos</u></a>
            <a href="@Url.Action("Index", "CadastrarDisciplina")" ng-show="vm.usuarioLogado"><u>Disciplina e nota</u></a>
            <span style="color:white;" class="pull-right">Professor: <span>{{vm.usuarioLogado}}</span></span>

        </div>
    </div>
</div>
<!-- Page info end -->
<!-- categories section -->
<section class="categories-section spad">
    <div class="container">
        <div class="section-title">

            <img height="200" src="~/Content/img/logo.png" />
            @*<h2>Nossas categorias de cursos</h2>*@
            <p>Todos os cursos estão armazenados utilizando a blockchain da SIA COIN.</p>
        </div>

    </div>
</section>
<!-- categories section end -->
<!-- signup section -->
<section class="signup-section spad">
    <div class="signup-bg set-bg" data-setbg="~/../Content/img/signup-bg.jpg"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="signup-warp">
                    <div class="section-title text-white text-left">
                        <h2>Faça upload de uma aula</h2>
                        <p>
                            Em vez de ter seus dados em vários locais, você envia para a blockchain, sem necessidade de pessoas encarregadas para proteger seus dados.
                            Tenha a liberdade de saber que você está no controle do que acontece com seus dados..
                        </p>
                    </div>
                    <!-- signup form -->
                    <form method="post" enctype="multipart/form-data" class="box has-advanced-upload signup-form">
                        <div class="progress" style="display: none;">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                <span class="progressoAtual">0% complete</span>
                            </div>
                        </div>
                        <input type="text" ng-model="nome" placeholder="Nome Curso">
                        <input type="text" placeholder="Descrição Aula" ng-model="descricao">
                        <input type="checkbox" checked="checked" placeholder="Ativo">Ativo
                        <label for="fileupload" class="file-up-btn">Enviar Curso</label>
                        <input type="file" accept=".avi, .mpg4, .mp4, .mov" id="fileupload" class="fileupload">
                        <input type="hidden" id="Descricao" name="Descricao" value="{{descricao}}" />
                        <input type="hidden" id="Nome" name="Nome" value="{{nome}}" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- signup section end -->

<script src="~/Scripts/app/professor/professorController.js"></script>