﻿<script src="~/Scripts/app/aluno/alunoController.js"></script>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>
<!-- Header section -->
<header class="header-section" ng-cloak ng-controller="authenticationController as vm">
    
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="site-logo">
                    <img height="140" src="~/Content/img/blockchain.jpg" alt="">
                </div>
                <div class="nav-switch">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <a href="" class="site-btn header-btn" ng-click="vm.sair()">Sair</a>
                <nav class="main-menu">
                    <ul>
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li><a href="#">Sobre</a></li>
                        <li><a href="@Url.Action("Index", "Cursos")">Cursos</a></li>
                        <li><a href="#">Novidade</a></li>
                        <li><a href="#">Contato</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header section end -->
<!-- Page info -->
<div class="set-bg" data-setbg="~/../Content/img/page-bg/1.jpg" ng-cloak ng-controller="alunoControllerController as vm">
    <div class="container">
        <div class="site-breadcrumb" style="color:white; padding-left: 25px">
            <span style="color:white"> </span>

            <span style="color:white;" class="pull-right">Aluno: <span>{{vm.usuarioLogado}}</span></span>
        </div>
    </div>
</div>
<!-- Page info end -->
<!-- course section -->
<section class="course-section pb-0" ng-cloak ng-controller="alunoControllerController as vm">
    <div class="course-warp">
        <ul class="course-filter controls">
            <li class="control active" data-filter="all">All</li>
            <li class="control" data-filter=".finance">Finance</li>
            <li class="control" data-filter=".design">Design</li>
            <li class="control" data-filter=".web">Web Development</li>
            <li class="control" data-filter=".photo">Photography</li>
            <li class="control" data-filter=".blockchain">Blockchain</li>
        </ul>
        <div class="row course-items-area">
            <!-- course -->
            <div class="mix col-lg-3 col-md-4 col-sm-6 finance">
                <div class="course-item">
                    <div class="course-thumb set-bg" data-setbg="~/../Content/img/courses/1.jpg">
                        <div class="price">Price: $15</div>
                    </div>
                    <div class="course-info">
                        <div class="course-text">
                            <h5>Art & Crafts</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                            <div class="students">120 Students</div>
                        </div>
                        <div class="course-author">
                            <div class="ca-pic set-bg" data-setbg="~/../Content/img/authors/1.jpg"></div>
                            <p>William Parker, <span>Developer</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- course -->
            <div class="mix col-lg-3 col-md-4 col-sm-6 design">
                <div class="course-item">
                    <div class="course-thumb set-bg" data-setbg="~/../Content/img/courses/2.jpg">
                        <div class="price">Price: $15</div>
                    </div>
                    <div class="course-info">
                        <div class="course-text">
                            <h5>IT Development</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                            <div class="students">120 Students</div>
                        </div>
                        <div class="course-author">
                            <div class="ca-pic set-bg" data-setbg="~/../Content/img/authors/2.jpg"></div>
                            <p>William Parker, <span>Developer</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- course -->
            <div class="mix col-lg-3 col-md-4 col-sm-6 web">
                <div class="course-item">
                    <div class="course-thumb set-bg" data-setbg="~/../Content/img/courses/3.jpg">
                        <div class="price">Price: $15</div>
                    </div>
                    <div class="course-info">
                        <div class="course-text">
                            <h5>Graphic Design</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                            <div class="students">120 Students</div>
                        </div>
                        <div class="course-author">
                            <div class="ca-pic set-bg" data-setbg="~/../Content/img/authors/3.jpg"></div>
                            <p>William Parker, <span>Developer</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- course -->
            <div class="mix col-lg-3 col-md-4 col-sm-6 photo">
                <div class="course-item">
                    <div class="course-thumb set-bg" data-setbg="~/../Content/img/courses/4.jpg">
                        <div class="price">Price: $15</div>
                    </div>
                    <div class="course-info">
                        <div class="course-text">
                            <h5>IT Development</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                            <div class="students">120 Students</div>
                        </div>
                        <div class="course-author">
                            <div class="ca-pic set-bg" data-setbg="~/../Content/img/authors/4.jpg"></div>
                            <p>William Parker, <span>Developer</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- course -->
            <div class="mix col-lg-3 col-md-4 col-sm-6 finance">
                <div class="course-item">
                    <div class="course-thumb set-bg" data-setbg="~/../Content/img/courses/5.jpg">
                        <div class="price">Price: $15</div>
                    </div>
                    <div class="course-info">
                        <div class="course-text">
                            <h5>IT Development</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                            <div class="students">120 Students</div>
                        </div>
                        <div class="course-author">
                            <div class="ca-pic set-bg" data-setbg="~/../Content/img/authors/5.jpg"></div>
                            <p>William Parker, <span>Developer</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- course -->
            <div class="mix col-lg-3 col-md-4 col-sm-6 design">
                <div class="course-item">
                    <div class="course-thumb set-bg" data-setbg="~/../Content/img/courses/6.jpg">
                        <div class="price">Price: $15</div>
                    </div>
                    <div class="course-info">
                        <div class="course-text">
                            <h5>Socia Media</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                            <div class="students">120 Students</div>
                        </div>
                        <div class="course-author">
                            <div class="ca-pic set-bg" data-setbg="~/../Content/img/authors/6.jpg"></div>
                            <p>William Parker, <span>Developer</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- course -->
            <div class="mix col-lg-3 col-md-4 col-sm-6 web">
                <div class="course-item">
                    <div class="course-thumb set-bg" data-setbg="~/../Content/img/courses/7.jpg">
                        <div class="price">Price: $15</div>
                    </div>
                    <div class="course-info">
                        <div class="course-text">
                            <h5>IT Development</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                            <div class="students">120 Students</div>
                        </div>
                        <div class="course-author">
                            <div class="ca-pic set-bg" data-setbg="~/../Content/img/authors/7.jpg"></div>
                            <p>William Parker, <span>Developer</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- course -->
            <div class="mix col-lg-3 col-md-4 col-sm-6 photo">
                <div class="course-item">
                    <div class="course-thumb set-bg" data-setbg="~/../Content/img/courses/8.jpg">
                        <div class="price">Price: $15</div>
                    </div>
                    <div class="course-info">
                        <div class="course-text">
                            <h5>HTML 5</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                            <div class="students">120 Students</div>
                        </div>
                        <div class="course-author">
                            <div class="ca-pic set-bg" data-setbg="~/../Content/img/authors/8.jpg"></div>
                            <p>William Parker, <span>Developer</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- course -->
            <div class="mix col-lg-3 col-md-4 col-sm-6 blockchain" ng-repeat="curso in vm.listaCurso">
                <div class="course-item">
                    <div class="course-thumb set-bg" data-setbg="~/../Content/img/block.jpg">
                        @*<div class="price">Price: $15</div>*@
                    </div>
                    <div class="course-info">
                        <div class="course-text">
                            <h5>Blockchain</h5>
                            <p style="cursor:pointer" ng-click="vm.modalAula(curso)">{{curso.descricao}}</p>
                            <div class="students">{{curso.nome}}</div>
                        </div>
                        <div class="course-author">
                            <div class="ca-pic set-bg" data-setbg="~/../Content/img/blockchain.jpg"></div>
                            <p>Bruno Silva, <span>Developer</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    @Html.Partial("~/Views/Aluno/ModalVideo.cshtml")
</section>
<!-- course section end -->
