﻿
<div class="modal fade bd-example-modal-lg" id="modalAula" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
     ng-cloak ng-controller="alunoControllerController as vm">
    <div class="modal-dialog modal-lg">
        <div class="" style="background-color:none !important; border:none !important">
            <div id="container">
                <div class="col-sm-12">
                    <div class="col-sm-9">
                        @*http://media.w3.org/2010/05/sintel/trailer.mp4*@
                        <video id='video' controls="controls" style="margin-left:10%" preload='none'                            
                               width="600" poster="~/Content/img/block.jpg">
                            <source id='mp4' src="{{srcVideo}}" type='video/mp4' />

                            
                            <track kind="subtitles" label="Deutsche Untertitel" src="subtitles_de.vtt" srclang="de"></track>
                            <p>Your user agent does not support the HTML5 Video element.</p>
                        </video>
                    </div>                    
                    <div id="extras"></div>
                </div>
            </div>
        </div>
    </div>
</div>